@import './color.less';

@main-font-family: "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", Helvetica, Tahoma, Arial;
@font-face {
    font-family: 'iconfont';  /* project id 1088790 */
    src: url('//at.alicdn.com/t/font_1088790_3gghoe4177h.eot');
    src: url('//at.alicdn.com/t/font_1088790_3gghoe4177h.eot?#iefix') format('embedded-opentype'),
        url('//at.alicdn.com/t/font_1088790_3gghoe4177h.woff2') format('woff2'),
        url('//at.alicdn.com/t/font_1088790_3gghoe4177h.woff') format('woff'),
        url('//at.alicdn.com/t/font_1088790_3gghoe4177h.ttf') format('truetype'),
        url('//at.alicdn.com/t/font_1088790_3gghoe4177h.svg#iconfont') format('svg');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-touch-callout: none;
}
body {
    font-family: @main-font-family;
    font-size: 14px;
}
.main {
    display: flex;
    flex-flow: column nowrap;
    min-height: 100vh;
    background-color: @bg0;
}
a {
    color: inherit;
    text-decoration: none;
    outline: none;
}
ul, li {
    list-style: none;
}
img {
    -webkit-touch-callout: none;
    touch-action: none;
}
button, input {
    font-family: @main-font-family;
}
button {
    outline: none;
    appearance: none;
    box-shadow: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: opacity 0.2s;
    &:not([disabled]):hover {
        opacity: 0.8;
    }
}
input::-ms-clear {
    display: none;
}
input[type='file'] {
    display: none;
}
.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
